CREATE PROCEDURE sprockit__internal_UpdateMetrics.setup
AS

EXEC tSQLt.FakeTable @TableName = 'sprockit.Process';

INSERT INTO sprockit.Process (
  ProcessId
, AvgDuration
, BranchWeight
, ProcessGroup
, IsEnabled
) VALUES
  (1, 0, 0, 1, 1)
, (2, 0, 0, 1, 1)
, (3, 0, 0, 1, 1)
, (4, 0, 0, 1, 1)
, (5, 0, 0, 1, 1)
;

EXEC tSQLt.FakeTable @TableName = 'sprockit.ProcessDependency';

INSERT INTO sprockit.ProcessDependency (
  ProcessId
, DependsOn
) VALUES 
  (2, 1)
, (3, 2)
, (4, 2)
, (5, 4)
;

EXEC tSQLt.FakeTable @TableName = 'sprockit.Execution';

INSERT INTO sprockit.Execution (
  ProcessId
, StartDateTime
, EndDateTime
, EndStatus
) VALUES 
  (1, DATEADD(DAY, -2, GETUTCDATE()), DATEADD(SECOND,  10, DATEADD(DAY, -2, GETUTCDATE())), 'Done')
, (1, DATEADD(DAY, -3, GETUTCDATE()), DATEADD(SECOND,  20, DATEADD(DAY, -3, GETUTCDATE())), 'Done')
, (1, DATEADD(DAY, -6, GETUTCDATE()), DATEADD(SECOND,  30, DATEADD(DAY, -6, GETUTCDATE())), 'Done')
, (1, DATEADD(DAY, -5, GETUTCDATE()), DATEADD(SECOND,  40, DATEADD(DAY, -5, GETUTCDATE())), 'Done')
, (2, DATEADD(DAY, -2, GETUTCDATE()), DATEADD(SECOND,  50, DATEADD(DAY, -2, GETUTCDATE())), 'Done')
, (2, DATEADD(DAY, -3, GETUTCDATE()), DATEADD(SECOND,  60, DATEADD(DAY, -3, GETUTCDATE())), 'Done')
, (2, DATEADD(DAY, -6, GETUTCDATE()), DATEADD(SECOND,  70, DATEADD(DAY, -6, GETUTCDATE())), 'Done')
, (2, DATEADD(DAY, -5, GETUTCDATE()), DATEADD(SECOND,  80, DATEADD(DAY, -5, GETUTCDATE())), 'Done')
, (3, DATEADD(DAY, -6, GETUTCDATE()), DATEADD(SECOND,  90, DATEADD(DAY, -6, GETUTCDATE())), 'Done')
, (3, DATEADD(DAY, -5, GETUTCDATE()), DATEADD(SECOND, 100, DATEADD(DAY, -5, GETUTCDATE())), 'Done')
, (3, DATEADD(DAY, -3, GETUTCDATE()), DATEADD(SECOND, 110, DATEADD(DAY, -3, GETUTCDATE())), 'Done')
, (3, DATEADD(DAY, -2, GETUTCDATE()), DATEADD(SECOND, 120, DATEADD(DAY, -2, GETUTCDATE())), 'Done')
, (4, DATEADD(DAY, -2, GETUTCDATE()), DATEADD(SECOND, 130, DATEADD(DAY, -2, GETUTCDATE())), 'Done')
, (4, DATEADD(DAY, -3, GETUTCDATE()), DATEADD(SECOND, 140, DATEADD(DAY, -3, GETUTCDATE())), 'Done')
, (4, DATEADD(DAY, -6, GETUTCDATE()), DATEADD(SECOND, 150, DATEADD(DAY, -6, GETUTCDATE())), 'Done')
, (4, DATEADD(DAY, -5, GETUTCDATE()), DATEADD(SECOND, 160, DATEADD(DAY, -5, GETUTCDATE())), 'Done')
, (5, DATEADD(DAY, -2, GETUTCDATE()), DATEADD(SECOND, 170, DATEADD(DAY, -2, GETUTCDATE())), 'Done')
, (5, DATEADD(DAY, -3, GETUTCDATE()), DATEADD(SECOND, 180, DATEADD(DAY, -3, GETUTCDATE())), 'Done')
, (5, DATEADD(DAY, -6, GETUTCDATE()), DATEADD(SECOND, 190, DATEADD(DAY, -6, GETUTCDATE())), 'Done')
, (5, DATEADD(DAY, -5, GETUTCDATE()), DATEADD(SECOND, 200, DATEADD(DAY, -5, GETUTCDATE())), 'Done')
;
